<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lianxi.huang.hellonewworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity">
            <intent-filter><!--作用，让MainActivity成为主界面-->
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lianxi.huang.hellonewworld.MainActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/second_activity"></activity>
    </application>

</manifest>